.translatedmessagearrow {
    background-image: url("../../download/resources/com.atlassian.translations.confluence.inproduct:images/right_arrow.png") !important;
}

.translatedmessagearrow.hover {
    background-image: url("../../download/resources/com.atlassian.translations.confluence.inproduct:images/right_arrow_hover.png") !important;
}

#inproduct-translation-dialog .ui-icon {
    background-image: url("../../download/resources/com.atlassian.translations.confluence.inproduct:images/drag_corner.png") !important;
}

.closetranslationdialog {
    background-image: url("../../download/resources/com.atlassian.translations.confluence.inproduct:images/x_10.png");
}

.translated-message-searcher-close {
    background-image: url("../../download/resources/com.atlassian.translations.confluence.inproduct:images/clear.png");
}

.translated-message-searcher-mag {
    background-image: url("../../download/resources/com.atlassian.translations.confluence.inproduct:images/mag.png");
}

.translated-message-searcher-close.hover {
    background-image: url("../../download/resources/com.atlassian.translations.confluence.inproduct:images/clear_hover.png");
}

.analytics-warning-disabled {
    background-image: url("../../download/resources/com.atlassian.translations.confluence.inproduct:images/analytics-disabled.png");
}

.analytics-warning-enabled {
    background-image: url("../../download/resources/com.atlassian.translations.confluence.inproduct:images/analytics-enabled.png");
}

#ipt-cog {
    background-image: url("../../download/resources/com.atlassian.translations.confluence.inproduct:images/cog.png");
}

.inproduct-throbber {
    background-image: url(../../download/resources/com.atlassian.translations.confluence.inproduct:images/ajax-loader.gif);
}
